.email__address
{
	background-color: #282828;
	height: 35px;
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px #242424,
				inset -1px -1px 1px #545454;
}

.email__address .button
{
	box-sizing: border-box;
	width: 77px;
	height: 26px;
	color: #3d3d3d;
	border-radius: 4px;
	background: linear-gradient(to bottom, #e5e5e5, #c4c4c4);
	border: none;
}
