.email__address
{
	background-color: #282828;
	height: 35px;
	border-radius: 4px;
}

.email__address .button
{
	float: right;

	color: #3d3d3d;
	padding: 6px 20px;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#c4c4c4));
	border: none;
}
